{% load static %}  
<!DOCTYPE html>  
<html lang="en">  
<head>  
    <meta charset="UTF-8">  
    <title>EVD Shopping Page</title>  
    <link rel="icon" href="https://cdn-icons-png.flaticon.com/512/34/34627.png" type="image/icon path"/>  
    <link rel="stylesheet" href="{% static 'index.css' %}"/>  
</head>  
<body style="margin: 0;">  
    <div class="topnav">  
        <a class="active" href="/home">Home</a>  
        <a href="/shop">Shop</a>  
        <a href="/sale">Sale</a>  
        <a href="/contactUs">Contact Us</a>  
        <input type="input" class="search" name="seach" placeholder="Search"/>  
        <a href="/search">Search</a>  
        <a class="sign-up" href="/signUp" style="float: right;">Sign Up</a>  
    </div>  
    <div class="productArea">  
    </div>  
</html>  