{% load static %}  
<!DOCTYPE html>  
<html lang="en">  
<head>  
    <meta charset="UTF-8">  
    <title>EVD</title>  
    <link rel="icon" href="{% static '34627.png' %}" type="image/png"/>  {% comment "" %} file-origin: "https://cdn-icons-png.flaticon.com/512/34/34627.png" {% endcomment %}  
    <link rel="stylesheet" href="{% static 'index.css' %}"/>  
    <link rel="stylesheet" href="{% static 'navBar.css' %}"/>  
</head>  
<body style="margin: 0;">  
    <div class="navBar">  
        {% include "navbar.html" %}  
    </div>  
    <div class="productArea">  
    </div>  
</body>  
</html>  